spring:
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 100
    open-in-view: true

  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${G_CLIENT_ID}
            clientSecret: ${G_CLIENT_SECRET}
            scope:
              - email
              - profile



#logging:
#  level:
#    org.hibernate.SQL: debug

#decorator:
#  datasource:
#    p6spy:
#      enable-logging: false

# 시큐리티
jwt:
  key: 12143561fdg651dsz65fgh1s6df5gh156sdfg1b65asdzf1b56sd1fz56b65sdf1b65sdz1fgn561
  access-token-expiration-minutes: 30
  refresh-token-expiration-minutes: 420

config:
  domain: "*"
  chatroom:
    max-size: 10
  playlist:
    max-size: 20