:root {
  /* fonts */
  --ft-pretendardBlack: "pretendardBlack";
  --ft-pretendardBold: "pretendardBold";
  --ft-pretendardExtraBold: "pretendardExtraBold";
  --ft-pretendardExtraLight: "pretendardExtraLight";
  --ft-pretendardLight: "pretendardLight";
  --ft-pretendardMedium: "pretendardMedium";
  --ft-pretendardRegular: "pretendardRegular";
  --ft-pretendardSemiBold: "pretendardSemiBold";
  --ft-pretendardThin: "pretendardThin";

  /* colors */
  --color1: rgb(0, 0, 0);
  --color2: rgb(43, 43, 43);
  --color3: rgb(73, 73, 73);
  --color4: rgb(110, 110, 110);
  --color5: rgb(147, 147, 147);
  --color6: rgb(184, 184, 184);
  --color7: rgb(217, 217, 217);
  --color8: rgb(245, 245, 245);
  --color9: rgb(255, 255, 255);
  --color10: rgb(216, 22, 22);

  /* shadow */
  --shadow: 0 10px 24px hsla(0, 0%, 0%, 0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05),
    0 1px 4px hsla(0, 0%, 0%, 0.1);
}
